<ion-header>
    <ion-toolbar>
        <ion-title align-self-center>
            Buscar
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Nombre de la película: </ion-label>
        <ion-input [(ngModel)]="filter"></ion-input>
        <ion-button color="success" slot="end" shape="round" (click)="searchMovie()" (keyup.enter)="searchMovie()" style="height: 2rem">
            Buscar
            <ion-icon name="search"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-grid>
        <h2 *ngIf="isSearch">Cerca de {{sizePelis}} resultados para {{filter}}</h2>
        <ion-row>
            <ion-col size="auto" *ngFor="let peli of pelisReleased">
                <app-peli-card [peli]="peli"></app-peli-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>